.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--card-padding);
  background-color: var(--card-bgcolor);
  border-radius: 8px;
  max-width: 400px;
  min-width: 100px;
}
.weather-info img {
  width: var(--small-icon-size);
  height: auto;
}
.item-0 {
  grid-area: A;
}
.item-1 {
  grid-area: B;
}
.item-2 {
  grid-area: C;
}
.item-3 {
  grid-area: D;
}
.item-4 {
  grid-area: E;
}
.item-5 {
  grid-area: F;
}
.item-6 {
  grid-area: G;
}
.item-7 {
  grid-area: H;
}
.weather-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
.weather-info button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #475666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info button:hover {
  background-color: #0056b3;
}
.weather-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}
.weather-info img {
  width: 150px; /* アイコンを大きく */
  height: 150px;
  margin: 0;
  padding: 0;
}

.weather-info .error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.weather-info dl {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  gap: 10px; /* 各項目の間隔を調整 */
}

.weather-info dt {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

.weather-info dd {
  margin: 0;
  font-size: 16px;
  color: #555;
  /* text-align: center; テキストを中央揃え */
}

.maxtemp {
  color: red;
  padding-right: 8px;
  font-size: 1.3rem;
}
.date {
  font-size: 1.5rem;
}
.mintemp {
  color: rgb(93, 93, 233);
  font-size: 1.3rem;
}
.clouds {
  font-size: 1.3rem;
  color: lightslategray;
  margin: 0;
}
.rain {
  font-size: 1.3rem;
  color: rgb(84, 84, 206);
  margin: 0;
}
.clear {
  font-size: 1.3rem;
  color: rgb(226, 87, 87);
  margin: 0;
}
.popstr {
  color: blue;
  font-size: 1.4rem;
}
.humnum {
  font-size: 1.4rem;
  color: green;
}
.item-0 img,
.item-1 img,
.item-2 img,
.item-3 img,
.item-4 img,
.item-5 img {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.item-0 .date,
.item-1 .date,
.item-2 .date,
.item-3 .date,
.item-4 .date,
.item-5 .date {
  font-size: 1em;
}

.item-0 dt,
.item-0 dd,
.item-1 dt,
.item-1 dd,
.item-2 dt,
.item-2 dd,
.item-3 dt,
.item-3 dd,
.item-4 dt,
.item-4 dd,
.item-5 dt,
.item-5 dd {
  font-size: 70%;
}

/* 今日明日の天気を少し目立たせたい */
/* .item-0,
.item-1 {
  border: 1px solid #4a90e2;
  box-shadow: 0 4px 8px lightblue;
} */
.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  box-shadow: 0 4px 8px gray;
}

.weather canvas {
  width: 100%;
  height: auto;
}
