:root {
  /* 基本となる設定 */
  --big-card-font-size: 150%;
  --small-card-font-size: 70%;
  /* 色関係  */
  --main-color: #475666;
  --accent-color: #0056b3;
  --temp-high: red;
  --temp-low: rbg(93, 93, 233);
  /* 配置関係  */
  --card-gap: 15px;
  --big-card-height: 420px;
  --small-card-height: 320px;
  --card-bgcolor: white;
  --card-padding: 10px;
  /* お天気アイコン大きさ */
  --big-icon-size: 150px;
  --mediam-icon-size: 110px;
  --small-icon-size: 70px;
}

.weather-infos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, var(--small-card-height));
  grid-template-areas:
    "A A B B C C"
    "D D E E F F";
  gap: var(--card-gap);
}
@media screen and (min-width: 600px) {
  .weather-infos {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: var(--small-card-height);
    grid-template-areas: "A B C D E F";
    column-gap: 7px;
    row-gap: 10px;
    min-width: 320px;
  }
}
